@media screen and (max-width: 500px) {
  header{
    height: 500px;
  }
  .obispoImg{
    order:1;
  }
  .obispoInfoIzq, .obispoInfoDer{
    order:2;
  }
  nav{
    background-color: rgba(255, 255, 255, 0.5);
    flex-direction: column;
    padding: 0 5px;
  }
  nav   a{
    width: 100%
    padding: 0;
    margin: 2px 0;
  }
  nav div:not(:first-child){
    display: none;
  }
  nav img{
    display: none;
  }
  .noticiasPrincipales{
    flex-direction: column;
  }
  .diocesisIconos{
    width: 100%;
    margin: 10px auto;
  }
  #ubicacion{
    width: auto;
    height: 400px;
    padding: 0;
  }
  #ubicacion iframe{
    height: 400px;
    width: 100%;
    margin: 0;
  }
}
