
*{
  text-decoration: none;
  text-align: center;
  color: white;
}
img {
}
body{
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
header{
  height: 200px;

  display: flex;
  align-items: flex-end;
}
nav{
  background-color: rgba(255,255,255,0.5);

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex:1 1;
}
nav a{
  /*border: 1px solid grey;*/
  /*border-left: 1px solid grey;
  border-right: 1px solid grey;*/
  color: black;
  padding: 2px 25px;
  font-size: 1.3em;
}
/*nav a:hover{
  background-color: grey;
}*/
nav .icon{
  display: none;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
