@media screen and (max-width: 500px) {
  header p{
    font-size: 2.6em !important;
  }
  #obispo{
    justify-content: space-around;
  }
  .tituloConBarra>img{
    display: none;
  }
  .tituloConBarra>h1{
    text-align: center;
  }
  .obispoImg{
    order:1;
    width: 100%;
  }
  .obispoImg>img{
    height: 250px;
    width: 250px;
  }
  .obispoInfoIzq, .obispoInfoDer{
    order:2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .info{
    width: 100%;
    visibility: visible;
    left: 0 !important;
    right: 0 !important;
  }
  #barra a img{
    width: auto;
    margin: 0!important;
  }
  nav{

    width: 100%;
    height: 60px;
    background-color: rgba(162,159,118,0.95);
    box-shadow: 0px 2px 3px black;
    flex-direction: column;
    justify-content: flex-start;
    /*display: block;*/
    box-sizing: border-box;
    position: fixed;
    top: 0;
  }
  nav .dropdown, nav p{
    visibility: hidden;
    padding-bottom: 15px;
    width: 100%;
  }
  nav p{
    /*width: 0;*/
  }
  .dropdown:nth-last-child(2) a:after{
    content: 'Radio';
  }
  .dropdown:nth-last-child(1) a:after{
    content: 'Facebook';
  }
  .iconCerrar{
    display: none;
  }
  #cerrarMenu{
    visibility: visible;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
  }
  .iconMenu{
    visibility: visible;
    font-size: 1.2em;
    color: black;
    margin: 20px 20px;
  }
  .iconoSpan{
    color: black;
    font-size: 2em ;
    font-weight: bold;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    float: right;
    background-color: rgba(75, 75, 75, 0.75);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 15 !important;
  }
  .dropdown-content a {
    width: 100%;
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      /*font-size: 0.6em;*/
      z-index: inherit !important;
  }
  .dropdown:hover .dropdown-content {
    width: 100%;
      display: block;
      position: relative;
      float: left;
  }

  .contenedorFotosObispoActual, .contenedorEscritosHomilias{
    flex-direction: column;
  }


  .contendorData .carouselPortadas .owl-stage-outer .owl-stage .owl-item img{
    height: auto;
  }
  .tituloSlide{
    font-size: 1.5em;
  }
  .noticiasMultimedia > .noticiasDiv > a > img{
    width: 100%;
  }
  .diocesisIconos{    width: 50%;
    margin: 10px auto;
  }
  #ubicacion{
    width: 100%;
    /*height: 400px;*/
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }
  #ubicacion iframe{
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 3%;
  }
  /*sobre el obispo actual*/
  .tituloConBarra h1{
    font-size: 2.2em;
    margin-bottom: 18px;
  }
  .tituloConBarra .barraTitulos{
    top: 0.5em;
    width: 21em;
  }
  .contenedorTituloObispo h1:first-child{
    border-bottom: 2px #a8a578 solid;
  }
  .contenedorTituloObispo h1:last-child{
    text-align: center;
  }
  .contenedorObispoActual img{
    float: none;
    margin: auto!important;
    display: block;
  }
  .contenedorObispoActual span{
    padding: 10px 50px;
  }
  /*corresponde a obisposAnteriores*/
  .tituloConBarra {
    width: 90%;
    margin-bottom: 7px;
  }
  .contenedorObispos{
    height: auto;
    padding-left: 0;
    box-sizing: border-box;
    text-align: center;
  }

  .contenedorObispos img{
    width: 80%;
    height: auto;
    float: none;
    display: block;
    margin: auto;
  }
  .contenedorObispos h2,.contenedorObispos p{
    text-align: center;
    display: block;
  }
  .contenedorObispos a:last-of-type{
    display: inline-block;
    padding: 1px 25px;
    font-size: 1.3em;
    margin: 5px 0;
    font-family: verdana;
  }
  .contenedorSingle{
    width: 95%;
  }
  .contenedorSingle img{
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
  footer{
    border-radius:0px;
  }
  footer .contenedorFooter{
    width: 100%;
  }
  footer .contenedorFooter h1{
    font-size: 2em;
  }
  footer .contenedorFooter p{
    font-size: 1.2em;
  }
  .volumen, #dialRadio{
    padding: 0!important;
    border: 0!important;
    width: 0!important;
    display: none!important;
  }
  .noticiasCompleto{
    width: 95%;
    margin: auto;
    margin-top: 10px;
  }
  .imgNoticia2 img{
    display: block;
    float: none!important;
    margin: auto!important;
    width: 100%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
  }
  .imgNoticia1,.contenedorNoticias .parteDerechaNoticias{
    width: 100%!important;
  }
  .imgNoticia1 img{
    width: 100%;
    height: auto;
  }
  #fotosObispo img:first-child{
    display: none;
  }
  #fotosObispo img{
    margin-bottom: 20px;
  }
  #UEObispo, #HObispo{
    width: 100%!important;
    padding-left: 0;
  }
  .flexRow img{
    display: none;
  }
  .flexRow a::before{
    content: '+'
    /*border-bottom: 1px solid grey;*/
  }
  .contenedorEscritosHomilias div{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contenedorEscritosHomilias>div>h1:first-of-type{
    text-align: center;
  }
}
